<div class="recently-added-card">
  <img src="<%= album.cover_url %>" alt="album cover for <%= album.title %>" />
  <h4><%= album.title %></h4>
  <p><%= album.artist %></p>
  <p><%= moment(album.release_date).format("MMM Do YYYY") %></p>
</div>
