<div class="content-results-card">
  <% if (type.id && currentType) { %>
  <a href="/detail/<%= type.id %>-<%= currentType %>" class="link-card">
    <img
      src="<%= type.cover_url ? type.cover_url : '/default-album-cover.png' %>"
      alt="<%= type.title ? `album cover for ${type.title}` : '' %>"
    />
    <h4><%= type.title ? type.title : '' %></h4>
    <h4><%= type.name ? type.name : '' %></h4>
    <p><%= type.artist ? type.artist : '' %></p>
  </a>
  <% } else { %>
    <img
      src="<%= type.cover_url ? type.cover_url : '/default-album-cover.png' %>"
      alt="<%= type.title ? `album cover for ${type.title}` : '' %>"
    />
    <h4><%= type.title ? type.title : '' %></h4>
    <h4><%= type.name ? type.name : '' %></h4>
    <p><%= type.artist ? type.artist : '' %></p>
  <% } %>
</div>
